:root {
  --foreground: rgb(216, 216, 216);
  --background: white;
  --text: black;
}

[data-theme='dark'] {
  :root {
    --foreground: rgb(35, 35, 35);
    --background: black;
    --text: white;
  }
}
